.leftCorner{
  width: 5px;
  height: 10px;
  position: relative;
  overflow: hidden;
}
.leftCorner::before {
  content: '';
  position: absolute;
  left: -5px;
  width: 10px;
  height:10px;
  border-radius: 5px;
  box-shadow: 0px 300px 0px 300px rgb(251 191 36 );
}

.rightCorner{
  width: 5px;
  height: 10px;
  position: relative;
  overflow: hidden;
}
.rightCorner::before {
  content: '';
  position: absolute;
  right: -5px;
  width: 10px;
  height:10px;
  border-radius: 5px;
  box-shadow: 0px 300px 0px 300px rgb(251 191 36 );
}

.topLeftCorner {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.topLeftCorner::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height:40px;
  border-radius: 20px;
  box-shadow: 0px 300px 0px 300px rgb(251 191 36 );
}

.bottomLeftCorner {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.bottomLeftCorner::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 40px;
  height:40px;
  border-radius: 20px;
  box-shadow: 0px 300px 0px 300px rgb(251 191 36 );
}

.topRightCorner {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.topRightCorner::before {
  content: '';
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height:40px;
  border-radius: 20px;
  box-shadow: 0px 300px 0px 300px rgb(251 191 36 );
}

.bottomRightCorner {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.bottomRightCorner::before {
  content: '';
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 40px;
  height:40px;
  border-radius: 20px;
  box-shadow: 0px 300px 0px 300px rgb(251 191 36 );
}